@mixin square($size) {
  height: $size;
  width: $size;
}

@mixin rounded-corners($radius: $border-radius-large) {
  border-radius: $radius;
}

@mixin absolute-shadow($left, $top) {
  left: $left;
  top: $top;

  &.shadow {
    background-color: $black;
    left: $left + $shadow-horizontal;
    top: $top + $shadow-vertical;
  }
}

@mixin flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin flex-right-center {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  margin: $card-gap;
}
