@import '../../../node_modules/bootstrap/scss/functions';
@import '../../../node_modules/bootstrap/scss/variables';
@import '../../../node_modules/bootstrap/scss/mixins';
@import '../../../node_modules/bootstrap/scss/utilities';

@import './variables/colors';
@import './variables/dimensions';
@import './variables/name';

@import '../../../node_modules/bootstrap/scss/bootstrap.scss';

@import './mixins';

@import './elements/area';
@import './elements/page';
@import './elements/screen';
@import './elements/section';

@import './components/BackgroundGradient';
@import './components/CharacterEditor';
@import './components/CharactersPage';
@import './components/ControlArea';
@import './components/DataPage';
@import './components/DisplayArea';
@import './components/form';
@import './components/HeroCardPage';
@import './components/HeroCardScreen';
@import './components/InitiativeTowerPage';
@import './components/Navbar';
@import './components/ParticipantCard';
@import './components/ParticipantControl';
@import './components/SmallCharacterCard';
// Uses variables from other components
@import './components/LargeCharacterCard';

body {
  font-family: Arial, Helvetica, sans-serif;
  color: $black;
  margin: 0;
  padding: 0;
}

h1, h2, h3 {
  text-align: left;
  margin-bottom: 0;
}

input[type=checkbox] {
  margin-right: 10px;
}
