$card-text-padding: 10px;

@function card-width-padding($width) {
  @return $width + ($card-text-padding * 2);
}

// Display

$border-radius-small: 4px;
$border-radius-large: 10px;
$shadow-horizontal: 10px;
$shadow-vertical: 10px;
$card-gap: 10px;
$column-gap: $card-gap * 2;

// Control

$control-max-width: 1000px;
$navbar-height: 53px;
$btn-min-width: 150px;

// BackgroundGradient
$bg-size: 25px;
$bg-gap: 5px;
$bg-border-radius: 4px;

// CharacterEditor
$ce-img-height: 200px;
$ce-avatar-large: 500px;
$ce-right-images-gap: 15px;

// CharactersPage
$cp-avatar-size: 38px;
$cp-actions-width: 200px;

// SmallCharacterCard
$scc-avatar-size: 100px;
$scc-box-height: 100px;
$scc-box-width: 500px;
$scc-box-left: 20px;
$scc-box-top: 20px;
$scc-icon-size: 50px;
$scc-icon-position: 6px;
$scc-text-margin-left: $scc-avatar-size - $scc-box-left + 10px;
$scc-width: $scc-box-left + $scc-box-width + $shadow-horizontal;
$scc-height: $scc-box-top + $scc-box-height + $shadow-vertical;
