.background-gradient-tile {
  @include square($bg-size);
  @include border-radius($bg-border-radius);
  background-color: $gray;
  border: 0;

  &.selected {
    box-shadow: 0 0 0 2px $primary;
  }
}
