.character-editor .card-img-flush {
  position: relative;
  overflow: hidden;
  height: $ce-img-height;
  background-color: $gray;

  .avatar-large {
    width: $ce-avatar-large;
  }

  .right-images {
    position: absolute;
    top: $ce-right-images-gap;
    right: $ce-right-images-gap;
    bottom: $ce-right-images-gap;
    display: flex;
    flex-direction: column;
    align-items: flex-end;

    .avatars {
      display: flex;
      height: $scc-avatar-size;
      flex-direction: row-reverse;
      grid-gap: $ce-right-images-gap;
    }

    .avatar-small {
      @include rounded-corners;
      @include square($scc-avatar-size);
      overflow: hidden;
    }

    .icons {
      display: flex;
      flex-direction: row-reverse;
      justify-content: center;
      flex-grow: 1;
      grid-gap: $ce-right-images-gap;
    }

    .icon-container {
      display: flex;
      flex-grow: 1;
      justify-content: center;
      align-items: center;
      width: $scc-avatar-size;
    }

    .icon {
      @include square($scc-icon-size);
    }

    .organisation-icon-container {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-grow: 1;
      width: $scc-avatar-size;

      .organisation-icon {
        @include square($scc-icon-size);
      }
    }
  }
}

.character-editor .gradient-colours {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: $bg-gap;
}

.character-editor .class-levels {
  font-style: italic;
  min-height: 24px;
}

.character-editor .details {
  height: calc(100vh - #{$navbar-height * 2} - #{$ce-img-height});
}
