@font-face {
  font-family: 'Bad Unicorn';
  src: url("../../fonts/bad-unicorn.ttf") format("truetype");
}

@font-face {
  font-family: 'Good Unicorn';
  src: url("../../fonts/good-unicorn.ttf") format("truetype");
}
